<div class="section">
  <div class="content">
    <app-author-modal
      [authorForm]="authorForm"
      (emitAuthorForm)="addAuthor($event)">
    </app-author-modal>
    <table class="list">
      <tr class="header">
        <th class="list-item list-header">Author Name</th>
        <th class="list-item list-header">Genre</th>
        <th class="list-item list-header"> Modify</th>
      </tr>
      <tr *ngFor="let author of authorsArr">
        <td class="list-item">{{author.authorName}}</td>
        <td class="list-item">{{author.genre}}</td>
        <td class="list-item edit"> Edit</td>
      </tr>
    </table>
  </div>
</div>
