<div class="section">
  <div class="content">
    <div>
      <app-book-modal
        [form]="form"
        (emitBookForm)="addBook($event)"
      ></app-book-modal>
    </div>
    <table class="list">
      <tr class="list-row" *ngFor="let book of books">
        <td class="list-item">{{book.name}}</td>
        <td class="list-item">{{book.author}}</td>
        <td class="list-item">{{book.description}}</td>
        <td class="list-item">{{book.releaseDate}}</td>
        <td class="list-item edit"> Edit</td>
      </tr>
    </table>
  </div>
</div>

